:root{
    --backgroundColor : #00ABF0;
}

body
{
    background-color  : var(--backgroundColor);
}

#Header {
    border-style: solid;
    border-width: 2px 5px 12px;
    padding: 10px;
}

#Selectables {
    margin: 40px
}

h3 {
    border-style: solid;
    border-width: 0 0 2px 0;
}

